*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color: white;
    font-family: inter;
}
@font-face {
    font-family: inter;
    src: url("Adamina-Regular.woff2");
}
.navbar{
    height: 20vh;
    width: 100%;
    background-color: #F5F5DC;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    #logo{
        height: 80%;
        width: 22%;
        display: flex;
        justify-content: center;
        align-items: center;
        #inner_logo{
            height: 70%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 5vh;
        }
        
    }
    a{
        text-decoration: none;
        color:#05003A;
    }
    #nav_2{
        height: 80%;
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: inter;
        font-size:0.8rem;
        font-weight: 100;
        h1{
            font-weight: 600;
        }
        
        h2:hover{
            scale:1.2;
            
        }
    }
    #SignUp{
        height: 80%;
        width: 18%;
        
        a{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                height: 40%;
                width: 60%;
                font-family: inter;
                color:white;
                background-color: #05003A;
                border-style: none;
                border:solid 1px white;
                border-radius: 2vw;
            }
            button:hover{
                font-size:1.2rem;
                
            }
        }
        
    }
}
.title_consultancy{
    height: 16%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_text{
        height: 90%;
        width: 50%;
        display: flex;
            justify-content: center;
            align-items: center;
            color: #05003A;
    }
}
.brochure{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_brochure{
        height: 90%;
        width: 50%;
        a{
            height: 100%;
            width: 100%;
            text-decoration: none;
            display: flex;
        justify-content: center;
        align-items: center;
            button{
                color:white;
                height: 80%;
                width: 40%;
                font-family: inter;
                background-color: #05003A;
                border-style: none;
                border-radius: 10vw;
                border:solid black 2px;
            }
            button:hover{
                font-size:1.5rem;
            }
        }
    }
}


h3{
    font-size:1rem;
    font-family: inter;
}
/* MAIN PAGE OF CONSULTANCY---------------------------------------------------------------------------- */
.main_agro{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_main_agro{
        height: 95%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        #left_inner{
            height: 100%;
            width: 50%;
            #left_upper{
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: justify;
                align-items: center;
                h3{
                    color:#05003A;
                    line-height: 150%;
                    font-family: inter;
                    padding: 2vh 2vw 2vw 2vh;
                    font-weight: 600;
                }
            }
            /* #left_lower{
                height: 50%;
                width: 90%;
                background-color: goldenrod;
            } */
        }
        #right_inner{
            height: 100%;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            #right_image{
                height: 100%;
                width: 70%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 2vw;
                }
            }
        }
    }

}
.main_metals{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_main_metals{
        height: 95%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        #left_inner{
            height: 100%;
            width: 70%;
            #left_upper{
                height: 100%;
                width: 100%;
                display: flex;
                    justify-content: center;
                    align-items: center;
                #inner_left_upper_para{
                    height: 80%;
                    width: 90%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    h3{
                        color:#05003A;
                        padding:2vh 2vw 2vw 2vh;
                        line-height: 150%;
                        font-weight: 600;
                    }
                }
            }
            /* #left_lower{
                height: 50%;
                width: 90%;
                background-color: goldenrod;
            } */
        }
        #right_inner{
            height: 100%;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            #right_image{
                height: 70%;
                width: 100%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 2vw;
                }
            }
        }
    }

}

/* OUR HAPPY CLIENTS---------------------------------------------------------------------------- */
@keyframes moves {
    from{
        transform:translateX(0%);
    }
    to{
        transform: translateX(calc(-1300%));
    }
    
}
.clients{
    height: 80vh;
    width: 100%;
    /* background-color: saddlebrown; */
    overflow: hidden;
    #clients_title{
        height: 15%;
        width: 100%;
        background-color: #F5F5DC;
        display: flex;
        justify-content: center;
        align-items: center;
        #clients_title_text{
            height: 90%;
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            color:#05003A;
        }
    }

    .clients_slider{
        height: 90%;
        width: 100%;
        /* background-color: rgb(161, 138, 138); */
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        background-color: #00703A;
        
        /* ?padding: 2vh; */
        #slider_container{
            
            height: 80%;
            width: 100%;
            display: inline-block;
            align-content: center;
            white-space: nowrap;
            .slides{
                animation: moves 30s linear infinite;
                height: 80%;
                width: 30%;
                
                display: inline-block;
                overflow-x: hidden;
                color: white;
                overflow: hidden;
                border: solid 0.8vh #000000;
                border-radius: 10px;
                /* img{
                    height: 20%;
                    width: 70%;
                    transform: translateX(10vw);
                    transform: translate(5vw,20vh);
                } */
                 img{
                    object-fit: contain;
                 }
                 

                 
            }
            #img2{
                /* background-color: white;
            
                width: 30%;
                background-color: #000000;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: fill;
                } */
                background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: calc(40%);
                }
             }
             #img1{
                /* background-color: white;
                width: 30%;
                
                img{
                    transform: translateY(15vh);    
                    width: 100%;
                    ;
                    object-fit: fill;
                } */
                background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: calc(40%);
                }
             }
             #img3{
                /* background-color: white;
            
                width: 30%;
                background-color: #000000;
                img{
                    
                    width: 100%;
                    object-fit: fill;
                } */
                background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: calc(40%);
                }
             }
             #img4{
                /* background-color: red;
                img{
                    width: 100%;
                    object-fit: fill;
                    height: 100%;
                } */
                background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: calc(40%);
                }

                
             }
             #img5{
                /* background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                } */
                background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: calc(40%);
                }
            }
            #img6{
                background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: calc(40%);
                }
            }
            #img7{
                background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: calc(40%);
                }
            }
            #img8{
                background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: calc(20%);
                }
            }
            
        }
        


        
    }

    
}


/* Footer---------------------------------------------------------------------------------------------------- */
.home_footer{
    height: 90vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_footer{
        height: 80%;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }
    
    .five_inner{
        height: 90%;
        width: 19%;
        background-color: rgb(255, 255, 255);
    }
    #five_logo{
        width:25%;
        #five_logo_text{
            height: 20%;
            width: 100%;
            background-color: rgb(255, 255, 255);
            color:#05003A;
            font-family: inter;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }
        #five_logo_image{
            height: 80%;
            width: 100%;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }
    #five_services{
        width: 19%;
        #five_services_h1{
            height: 20%;
            width: 100%;
            background-color: rgb(255, 255, 255);
            color:#05003A;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: inter;
        }
        #five_services_others{
            height: 80%;
            width: 100%;
            font-family: inter;
            text-align: center;
            a{
                text-decoration: none;
            }
            h4{
                padding:2vh 2vw 2vh 2vw;
                color:#05003A;
                /* font-weight: 600; */
            }
        }
    }
    #five_companies{
        width: 19%;
        #five_Companies_h1{
            height: 20%;
            width: 100%;
            background-color: rgb(255, 255, 255);
            color:#05003A;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: inter;
            
        }
        #five_Companies_others{
            height: 80%;
            width: 100%;
            font-family: inter;
            text-align: center;
            a{
                text-decoration: none;
                color:#05003A;
            }
            h4{
                padding:2vh 2vw 2vh 2vw;
                color:#05003A;
                
            }
        }
    }
    #five_Contact{
        width: 19%;
        #five_Contact_h1{
            height: 20%;
            width: 100%;
            background-color: rgb(255, 255, 255);
            color:#05003A;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: inter;
        }
        #five_Contact_others{
            height: 80%;
            width: 100%;
            font-family: inter;
            text-align: center;
            h4{
                padding:2vh 2vw 2vh 2vw;
                color:#05003A;
            }
        }
    }
    #five_address{
        width: 19%;
        background-color: rgb(141, 107, 107);
        #five_Address_h1{
            height: 20%;
            width: 100%;
            background-color: rgb(255, 255, 255);
            color:#05003A;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: inter;
        }
        #five_Address_others{
            height: 80%;
            width: 100%;
            background-color: white;
            font-family: inter;
            text-align: center;
            /* display: flex;
            justify-content: center;
            align-items: center; */
            h4{
                padding:2vh 2vw 2vh 2vw;
                color:#05003A;
                
            }
        }
    }
}

.copyright{
    height: 3vh;
    width: 100%;
    
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_copyright{
        height: 90%;
        width: 50%;
        
        
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size:0.6rem;
            font-family: inter;
            display: block; 
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}