*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color: white;
}
@font-face {
    font-family: inter;
    src: url("Adamina-Regular.woff2");
}
h3{
    font-family: inter;
    font-size:1rem;
}
.navbar{
    height: 20vh;
    width: 100%;
    background-color: #f5f5dc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    #logo{
        height: 80%;
        width: 22%;
        display: flex;
        justify-content: center;
        align-items: center;
        #inner_logo{
            height: 70%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 5vh;
        }
        
    }
    a{
        text-decoration: none;
        color:#05003A;
    }
    #nav_2{
        height: 80%;
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: inter;
        font-size:0.8rem;
        font-weight: 100;
        h1{
            font-weight: 600;
        }
        
        h2:hover{
            scale:1.2;
            
        }
    }
    #SignUp{
        height: 80%;
        width: 18%;
        
        a{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                height: 40%;
                width: 60%;
                font-family: inter;
                color:white;
                background-color: #05003A;
                border-style: none;
                border:solid 1px white;
                border-radius: 2vw;
            }
            button:hover{
                font-size:1.2rem;
                
            }
        }
        
    }
}
.title_Safety{
    height: 16%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_text{
        height: 90%;
        width: 50%;
        display: flex;
            justify-content: center;
            align-items: center;
            color: #05003A;
    }
}
.brochure{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_brochure{
        height: 90%;
        width: 50%;
        a{
            height: 100%;
            width: 100%;
            text-decoration: none;
            display: flex;
        justify-content: center;
        align-items: center;
            button{
                color:white;
                height: 80%;
                width: 40%;
                font-family: inter;
                background-color: #05003A;
                border-style: none;
                border-radius: 10vw;

            }
            button:hover{
                font-size:1.5rem;
            }
        }
    }
}

/* MAIN PAGE OF Safety---------------------------------------------------------------------------- */
.main_Safety{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_main_Safety{
        height: 100%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        #left_inner{
            height: 100%;
            width: 50%;
            overflow: hidden;
            #left_upper{
                height: 100%;
                width: 100%;
                text-align: justify;
            /* display: flex;
            justify-content: center;
            align-items: center; */
            align-content: center;
            
            h3{
                padding: 2vh 2vw 2vh 2vw;
                color: #05003A;
                font-family: inter;
                line-height: 140%;
                li{ a{
                    color:#00703A;
                }
                    
                }
            }
            }
            /* #left_lower{
                height: 40%;
                width: 100%;
                text-align: justify;
            display: flex;
           
            li{
                a{
                    color:#00703A;
                }
                
            }
            
            a{
                text-decoration: none;
                text-decoration: underline;
                color: #05003A;
            }
            h3{
                padding: 0vh 2vw 2vh 2vw;
                color: #05003A;
                font-family: inter;
                line-height: 140%;
            }
            } */
        }
        #right_inner{
            height: 80%;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            #right_image{
                height:100%;
                width: 100%;
                 
                background-size: cover;
                background-position: center;
                #left_right_image{
                    height: 45%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    #upper_left_right_image{
                        height: 100%;
                        width: 45%;
                        background-image: url("culverts1.webp");
                        background-position: center;
                        background-size: cover;
                        border-top-left-radius: 2vw;
                    }
                    #lower_left_right_image{
                        height: 100%;
                        width: 45%;
                        background-image: url("Highway\ 1.jpg");
                        background-size: cover;
                        background-position: center; 
                        border-top-right-radius: 2vw;
                    }
                }
                #right_right_image{
                    height: 45%;
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-top: 3vh;
                    #upper_right_right_image{
                        width: 45%;
                        height: 100%;
                        background-image: url("thermoplastic\ 1.webp");
                        background-size: cover;
                        background-position: center;
                        border-bottom-left-radius: 2vw;
                    }
                    #lower_right_right_image{
                        width: 45%;
                        height: 100%;
                        background-image: url("road\ studs\ 1.jpg");
                        background-size: cover;
                        background-position: center;
                        border-bottom-right-radius: 2vw;
                    }
                }
            }
        }
    }

}

/* CONSTRUCTION HEADING---------------------------------------------------------------------------- */
.construction_direction{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_construction_direction{
        height: 95%;
        width: 100%;
        background-color: #f5f5dc;
        color:#05003A;
        #construction_heading{
            height: 14%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_construction_heading{
                height: 90%;
                width: 30%;
                color:#05003A;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        #construction_text_image{
            height: 86%;
            width: 100%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            #left_construction{
                height: 90%;
                width:45%;
                text-align: justify;
            display: flex;
            justify-content: center;
            align-items: center;
            h3{
                padding: 2vh 2vw 2vh 2vw;
                color: #05003A;
                font-family: inter;
                line-height: 150%;
                font-family: inter;
                span{
                    display: flex;
                    justify-content: center;
                    font-size: 1.6rem;
                    font-family: inter;
                    color:#00703A;
                }
                a{
                    text-decoration: none;
                    color:#00703A;
                    text-decoration: underline;
                }

            }

            }
            #right_construction{
                height: 90%;
                width: 45%;
                background-image: url("Ships\ Sales\ &\ Purchase.png");
                background-position: center;
                background-size: cover;
                
            }
            
        }
    }
}
/* CONSTRUCTION SUB PARTS---------------------------------------------------------------------------- */
.construction_drain{
    height: 80vh;
    width: 100%;
    #inner_construction_drain{
        height: 100%;
        width: 100%;
        background-color: #f5f5dc;
        #drain_heading{
            height: 14%;
            width: 100%;
            display: flex;
            align-items: center;
            #inner_drain_heading{
                height: 90%;
                width: 80%;
                display: flex;
                h1{
                    padding-left:7vw;
                }
                align-items: center;
                color: #05003A;
            }
        }
        #drain_para{
            height: 40%;
            width: 100%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_drain_para{
                height: 90%;
                width: 90%;
                text-align: justify;
            display: flex;
            justify-content: center;
            align-items: center;
            h3{
                padding: 2vh 2vw 2vh 2vw;
                color: #05003A;
                font-family: inter;
                line-height: 150%;
            }
            }
        }
        #drain_images{
            height: 46%;
            width: 100%;
            background-color: white;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #drain_image1{
                height: 90%;
                width: 26%;
                /* background-image: url("drains\ 1.jpeg");
                background-position: center;
                background-size: cover; */
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 2vw;
                }
            }
        }
    }
}

/* CULVERTS CONSTRUCTION---------------------------------------------------------------------------------- */
.construction_Culverts{
    height: 80vh;
    width: 100%;
    background-color: white;
    #inner_construction_Culverts{
        height: 100%;
        width: 100%;
        #Culverts_heading{
            height: 14%;
            width: 100%;
            background-color: #f5f5dc;
            display: flex;
            align-items: center;
            #inner_Culverts_heading{
                height: 90%;
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                color:#05003A;
            }
        }
        #Culverts_para{
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Culverts_para{
                height: 90%;
                width: 90%;
                text-align: justify;
            display: flex;
            justify-content: center;
            align-items: center;
            h3{
                padding: 2vh 2vw 2vh 2vw;
                color: #05003A;
                font-family: inter;
                line-height: 150%;
            }
            h3{
                font-family: inter;
                font-size:1rem;
            }
            }
        }
        #Culverts_images{
            height: 46%;
            width: 100%;
            background-color: white;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Culverts_image1{
                height: 90%;
                width: 26%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 2vw;
                }
            }
        }
    }
}
/* FOUNDATION  CONSTRUCTION------------------------------------------------------------------------------- */
.construction_Foundation{
    height: 80vh;
    width: 100%;
    #inner_construction_Foundation{
        height: 100%;
        width: 100%;
        background-color: white;
        #Foundation_heading{
            height: 14%;
            width: 100%;
            background-color: #f5f5dc;
            display: flex;
            align-items: center;
            #inner_Foundation_heading{
                height: 90%;
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                color:#05003A;
            }
        }
        #Foundation_para{
            height: 40%;
            width: 100%;
            
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Foundation_para{
                height: 90%;
                width: 90%;
                background-color: white;
                text-align: justify;
            display: flex;
            justify-content: center;
            align-items: center;
            h3{
                padding: 2vh 2vw 2vh 2vw;
                color: #05003A;
                font-family: inter;
                line-height: 150%;
            }
            }
        }
        #Foundation_images{
            height: 46%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Foundation_image1{
                height: 90%;
                width: 26%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 2vw;
                }
            }
            
        }
    }
}

/* ROAD CONSTRUCTION SERVICES------------------------------------------------------------------------ */
.road_construction_services{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_road_construction_services{
        height: 95%;
        width: 100%;
        #heading_road_construction{
            height: 15%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_heading{
                height: 90%;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #05003A;
            }
        }
        #main_road_construction{
            height: 85%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #left_road_construction{
                height: 96%;
                width: 60%;

                #first_left_road_construction{
                    height: 33%;
                    width: 100%;
                    text-align: justify;
            display: flex;
            justify-content: center;
            align-items: center;
            h3{
                padding: 2vh 2vw 2vh 2vw;
                color: #05003A;
                font-family: inter;
                line-height: 150%;
            }
                }
                #second_left_road_construction{
                    height: 67%;
                    width: 100%;
                    text-align: justify;
            display: flex;
            justify-content: center;
            align-items: center;
            h3{
                padding: 2vh 2vw 2vh 2vw;
                color: #05003A;
                font-family: inter;
                line-height: 150%;
                span{
                    font-size: 1.4rem;
                    font-weight: bold;
                }
            }
                    
                }
                
            }
            #right_road_construction{
                height: 96%;
                width:25%;
                
                #images_road_construction{
                    
                    
                     
                }
            }
        }
    }
}


/* ROAD SAFETY TYPES CONTENTS---------------------------------------------------------------------- */
.road_safety_types{
    
    height: 50vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_road_safety_types{
        height: 100%;
        width: 90%;
        #nav_road_safety{
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_nav_road_safety{
                height: 90%;
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #05003A;
            }
        }
        #text_road_safety{
            height: 60%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_text_road_safety{
                height: 90%;
                width: 98%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: justify;
                display: flex;
                justify-content: center;
                align-items: center;
                h3{
                    padding:2vh 2vw 2vh 2vw;
                    line-height: 150%;
                    font-size:1.2rem;
                    color: #05003A;
                }
                
            }
        }
    }
}


















/* HIGHWAY LIGHTING SOLUTIONS---------------------------------------------------------------------------- */
.construction_Highway{
    height: 80vh;
    width: 100%;
    background-color: white;
    #inner_construction_Highway{
        height: 100%;
        width: 100%;
        background-color: white;
        #Highway_heading{
            height: 14%;
            width: 100%;
            background-color: #f5f5dc;
            display: flex;
            align-items: center;
            #inner_Highway_heading{
                height: 90%;
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                color:#05003A;
            }
        }
        #Highway_para{
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Highway_para{
                height: 90%;
                width: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                text-align: justify;
                
                h3{
                    padding:2vh 2vw 2vh 2vw;
                    line-height: 150%;
                    font-size:1.2rem;
                    color: #05003A;
                }
                h3{
                    font-family: inter;
                    font-size:1rem;
                }
                
            }
        }
        #Highway_images{
            height: 46%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Highway_image1{
                height: 90%;
                width: 26%;
                border-radius: 10px;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 2vw;
                    }
            }
        }
    }
}

/* TOLLPLAZA SOLUTION------------------------------------------------------------------------------------ */
.construction_Tollplaza{
    height: 80vh;
    width: 100%;
    #inner_construction_Tollplaza{
        height: 100%;
        width: 100%;
        #Tollplaza_heading{
            height: 14%;
            width: 100%;
            background-color: #f5f5dc;
            display: flex;
            align-items: center;
            #inner_Tollplaza_heading{
                height: 90%;
                width: 40%;
                display: flex;
                transform: translateX(5vw);
                align-items: center;
                color:#05003A;
            }
        }
        #Tollplaza_para{
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Tollplaza_para{
                height: 90%;
                width: 90%;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                
                text-align: justify;
                
                h3{
                    padding:2vh 2vw 2vh 2vw;
                    line-height: 150%;
                    font-size:1.2rem;
                    color: #05003A;
                }
                h3{
                    font-family: inter;
                    font-size:1rem;
                }
            }
        }
        #Tollplaza_images{
            height: 46%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Tollplaza_image1{
                height: 90%;
                width: 26%;
                border-radius: 10px;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 2vw;
                }
            }
        }
    }
}
/* CANOPY SOLUTIONS------------------------------------------------------------------------------------ */
.construction_Canopy{
    height: 80vh;
    width: 100%;
    #inner_construction_Canopy{
        height: 100%;
        width: 100%;
        background-color: white;
        #Canopy_heading{
            height: 14%;
            width: 100%;
            background-color: #f5f5dc;
            display: flex;
            align-items: center;
            #inner_Canopy_heading{
                height: 90%;
                width: 40%;
                display: flex;
                transform: translateX(5vw);
                align-items: center;
                color: #05003A;
            }
        }
        #Canopy_para{
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Canopy_para{
                height: 90%;
                width: 90%;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                
                text-align: justify;
                
                h3{
                    padding:2vh 2vw 2vh 2vw;
                    line-height: 150%;
                    font-size:1.2rem;
                    color: #05003A;
                }
                h3{
                    font-family: inter;
                    font-size:1rem;
                }
            }
        }
        #Canopy_images{
            height: 46%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Canopy_image1{
                height: 90%;
                width: 26%;
                
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 2vw;
                }
            }
        }
    }
}
/* MBCB SOLUTIONS----------------------------------------------------------------------------------------- */
.construction_MBCB{
    height: 80vh;
    width: 100%;
    background-color: white;
    #inner_construction_MBCB{
        height: 100%;
        width: 100%;
        #MBCB_heading{
            height: 14%;
            width: 100%;
            background-color: #f5f5dc;
            display: flex;
            align-items: center;
            #inner_MBCB_heading{
                height: 90%;
                width: 40%;
                display: flex;
                transform: translateX(5vw);
                align-items: center;
                color:#05003A;
            }
        }
        #MBCB_para{
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_MBCB_para{
                height: 90%;
                width: 90%;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                
                text-align: justify;
                
                h3{
                    padding:2vh 2vw 2vh 2vw;
                    line-height: 150%;
                    font-size:1.2rem;
                    color: #05003A;
                }
                h3{
                    font-family: inter;
                    font-size:1rem;
                }
            }
        }
        #MBCB_images{
            height: 46%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #MBCB_image1{
                height: 90%;
                width: 26%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 2vw;
                }
            }
        }
    }
}
/* Signages Solutions------------------------------------------------------------------------------------ */
.construction_Signages{
    height: 80vh;
    width: 100%;
    background-color: white;
    #inner_construction_Signages{
        height: 100%;
        width: 100%;
        #Signages_heading{
            height: 14%;
            width: 100%;
            background-color: #f5f5dc;
            display: flex;
            align-items: center;
            #inner_Signages_heading{
                height: 90%;
                width: 40%;
                display: flex;
                transform: translateX(5vw);
                align-items: center;
                color:#05003A;
            }
        }
        #Signages_para{
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Signages_para{
                height: 90%;
                width: 90%;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                
                text-align: justify;
                
                h3{
                    padding:2vh 2vw 2vh 2vw;
                    line-height: 150%;
                    font-size:1.2rem;
                    color: #05003A;
                }
                h3{
                    font-family: inter;
                    font-size:1rem;
                }
            }
        }
        #Signages_images{
            height: 46%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Signages_image1{
                height: 90%;
                width: 26%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 2vw;
                }
            }
        }
    }
}

/* THERMOPLASTIC SOLUTIONS-------------------------------------------------------------------------- */
.construction_Thermoplastic{
    height: 80vh;
    width: 100%;
    background-color: white;
    #inner_construction_Thermoplastic{
        height: 100%;
        width: 100%;
        #Thermoplastic_heading{
            height: 14%;
            width: 100%;
            background-color: #f5f5dc;
            display: flex;
            align-items: center;
            #inner_Thermoplastic_heading{
                height: 90%;
                width: 40%;
                display: flex;
                transform: translateX(5vw);
                align-items: center;
                color:#05003A;
            }
        }
        #Thermoplastic_para{
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Thermoplastic_para{
                height: 90%;
                width: 90%;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                
                text-align: justify;
                
                h3{
                    padding:2vh 2vw 2vh 2vw;
                    line-height: 150%;
                    font-size:1.2rem;
                    color: #05003A;
                }
                h3{
                    font-family: inter;
                    font-size:1rem;
                }
            }
        }
        #Thermoplastic_images{
            height: 46%;
            width: 100%;
            
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Thermoplastic_image1{
                height: 90%;
                width: 26%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 2vw;
                }
            }
        }
    }
}
/* ROAD_STUDS------------------------------------------------------------------------------------------------- */
.construction_Road_Studs{
    height: 80vh;
    width: 100%;
    background-color: white;
    #inner_construction_Road_Studs{
        height: 100%;
        width: 100%;
        #Road_Studs_heading{
            height: 14%;
            width: 100%;
            background-color: #f5f5dc;
            display: flex;
            align-items: center;
            #inner_Road_Studs_heading{
                height: 90%;
                width: 40%;
                display: flex;
                transform: translateX(5vw);
                align-items: center;
                color:#05003A;
            }
        }
        #Road_Studs_para{
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Road_Studs_para{
                height: 90%;
                width: 90%;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                
                text-align: justify;
                
                h3{
                    padding:2vh 2vw 2vh 2vw;
                    line-height: 150%;
                    font-size:1.2rem;
                    color: #05003A;
                }
                h3{
                    font-family: inter;
                    font-size:1rem;
                }
            }
        }
        #Road_Studs_images{
            height: 46%;
            width: 100%;
            
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Road_Studs_image1{
                height: 90%;
                width: 26%;
                
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 2vw;
                }
            }
        }
    }
}
/* PEDESTRIANS SOLUTIONS----------------------------------------------------------------------------------- */
.construction_Pedestrian{
    height: 80vh;
    width: 100%;
    background-color: white;
    #inner_construction_Pedestrian{
        height: 100%;
        width: 100%;
        #Pedestrian_heading{
            height: 14%;
            width: 100%;
            background-color:#f5f5dc;
            display: flex;
            align-items: center;
            #inner_Pedestrian_heading{
                height: 90%;
                width: 40%;
                display: flex;
                transform: translateX(5vw);
                align-items: center;
                color:#05003A;
            }
        }
        #Pedestrian_para{
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Pedestrian_para{
                height: 90%;
                width: 90%;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                
                text-align: justify;
                
                h3{
                    padding:2vh 2vw 2vh 2vw;
                    line-height: 150%;
                    font-size:1.2rem;
                    color: #05003A;
                }
                h3{
                    font-family: inter;
                    font-size:1rem;
                }
            }
        }
        #Pedestrian_images{
            height: 46%;
            width: 100%;
           
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Pedestrian_image1{
                height: 90%;
                width: 26%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 2vw;
                }
            }
        }
    }
}
/* GALVANISED SOLUTIONS------------------------------------------------------------------------------- */
.construction_Galvanised{
    height: 80vh;
    width: 100%;
    background-color: white;
    #inner_construction_Galvanised{
        height: 100%;
        width: 100%;
        #Galvanised_heading{
            height: 14%;
            width: 100%;
            background-color: #f5f5dc;
            display: flex;
            
            align-items: center;
            #inner_Galvanised_heading{
                height: 90%;
                width: 40%;
                display: flex;
                transform: translateX(5vw);
                align-items: center;
                color:#05003A;
            }
        }
        #Galvanised_para{
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Galvanised_para{
                height: 90%;
                width: 90%;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                
                text-align: justify;
                
                h3{
                    padding:2vh 2vw 2vh 2vw;
                    line-height: 150%;
                    font-size:1.2rem;
                    color: #05003A;
                }
                h3{
                    font-family: inter;
                    font-size:1rem;
                }
            }
        }
        #Galvanised_images{
            height: 46%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Galvanised_image1{
                height: 90%;
                width: 26%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 2vw;
                }
            }
        }
    }
}
/* ANTIGLARE SOLUTIONS--------------------------------------------------------------------------------- */
.construction_Antiglare{
    height: 80vh;
    width: 100%;
    background-color: white;
    #inner_construction_Antiglare{
        height: 100%;
        width: 100%;
        #Antiglare_heading{
            height: 14%;
            width: 100%;
            background-color: #f5f5dc;
            display: flex;

            align-items: center;
            #inner_Antiglare_heading{
                height: 90%;
                width: 40%;
                display: flex;
                transform: translateX(5vw);
                align-items: center;
                color: #05003A;
            }
        }
        #Antiglare_para{
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Antiglare_para{
                height: 90%;
                width: 90%;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                
                text-align: justify;
                
                h3{
                    padding:2vh 2vw 2vh 2vw;
                    line-height: 150%;
                    font-size:1.2rem;
                    color: #05003A;
                }
                h3{
                    font-family: inter;
                    font-size:1rem;
                }
            }
        }
        #Antiglare_images{
            height: 46%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Antiglare_image1{
                height: 90%;
                width: 26%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 2vw;
                }
            }
        }
    }
}

/* OUR HAPPY CLIENTS--------------------------------------------------------------------------------- */
@keyframes moves {
    from{
        transform:translateX(0%);
    }
    to{
        transform: translateX(calc(-1300%));
    }
    
}
.clients{
    height: 80vh;
    width: 100%;
    /* background-color: saddlebrown; */
    overflow: hidden;
    #clients_title{
        height: 15%;
        width: 100%;
        background-color: #F5F5DC;
        display: flex;
        justify-content: center;
        align-items: center;
        #clients_title_text{
            height: 90%;
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            color:#05003A;
        }
    }

    .clients_slider{
        height: 90%;
        width: 100%;
        /* background-color: rgb(161, 138, 138); */
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        background-color: #00703A;
        
        /* ?padding: 2vh; */
        #slider_container{
            
            height: 80%;
            width: 100%;
            display: inline-block;
            align-content: center;
            white-space: nowrap;
            .slides{
                animation: moves 30s linear infinite;
                height: 80%;
                width: 30%;
                
                display: inline-block;
                overflow-x: hidden;
                color: white;
                overflow: hidden;
                border: solid 0.8vh #000000;
                border-radius: 10px;
                /* img{
                    height: 20%;
                    width: 70%;
                    transform: translateX(10vw);
                    transform: translate(5vw,20vh);
                } */
                 img{
                    object-fit: contain;
                 }
                 

                 
            }
            #img2{
                /* background-color: white;
            
                width: 30%;
                background-color: #000000;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: fill;
                } */
                background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: calc(40%);
                }
             }
             #img1{
                /* background-color: white;
                width: 30%;
                
                img{
                    transform: translateY(15vh);    
                    width: 100%;
                    ;
                    object-fit: fill;
                } */
                background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: calc(40%);
                }
             }
             #img3{
                /* background-color: white;
            
                width: 30%;
                background-color: #000000;
                img{
                    
                    width: 100%;
                    object-fit: fill;
                } */
                background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: calc(40%);
                }
             }
             #img4{
                /* background-color: red;
                img{
                    width: 100%;
                    object-fit: fill;
                    height: 100%;
                } */
                background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: calc(40%);
                }

                
             }
             #img5{
                /* background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                } */
                background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: calc(40%);
                }
            }
            #img6{
                background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: calc(40%);
                }
            }
            #img7{
                background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: calc(40%);
                }
            }
            #img8{
                background-color: white;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: calc(20%);
                }
            }
            
        }
        


        
    }

    
}


/* Footer---------------------------------------------------------------------------------------------------- */
.home_footer{
    height: 90vh;
    width: 100%;
    background-color: white;
    font-size:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_footer{
        height: 80%;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }
    
    .five_inner{
        height: 90%;
        width: 19%;
        background-color: rgb(255, 255, 255);
    }
    #five_logo{
        width:25%;
        #five_logo_text{
            height: 20%;
            width: 100%;
            background-color: rgb(255, 255, 255);
            color:#05003A;
            font-family: inter;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }
        #five_logo_image{
            height: 80%;
            width: 100%;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }
    #five_services{
        width: 19%;
        #five_services_h1{
            height: 20%;
            width: 100%;
            background-color: rgb(255, 255, 255);
            color:#05003A;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: inter;
        }
        #five_services_others{
            height: 80%;
            width: 100%;
            font-family: inter;
            text-align: center;
            a{
                text-decoration: none;
            }
            h4{
                padding:2vh 2vw 2vh 2vw;
                color:#05003A;
                /* font-weight: 600; */
            }
        }
    }
    #five_companies{
        width: 19%;
        #five_Companies_h1{
            height: 20%;
            width: 100%;
            background-color: rgb(255, 255, 255);
            color:#05003A;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: inter;
            
        }
        #five_Companies_others{
            height: 80%;
            width: 100%;
            font-family: inter;
            text-align: center;
            a{
                text-decoration: none;
                color:#05003A;
            }
            h4{
                padding:2vh 2vw 2vh 2vw;
                color:#05003A;
                
            }
        }
    }
    #five_Contact{
        width: 19%;
        #five_Contact_h1{
            height: 20%;
            width: 100%;
            background-color: rgb(255, 255, 255);
            color:#05003A;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: inter;
        }
        #five_Contact_others{
            height: 80%;
            width: 100%;
            font-family: inter;
            text-align: center;
            h4{
                padding:2vh 2vw 2vh 2vw;
                color:#05003A;
            }
        }
    }
    #five_address{
        width: 19%;
        background-color: rgb(141, 107, 107);
        #five_Address_h1{
            height: 20%;
            width: 100%;
            background-color: rgb(255, 255, 255);
            color:#05003A;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: inter;
        }
        #five_Address_others{
            height: 80%;
            width: 100%;
            background-color: white;
            font-family: inter;
            text-align: center;
            /* display: flex;
            justify-content: center;
            align-items: center; */
            h4{
                padding:2vh 2vw 2vh 2vw;
                color:#05003A;
                
            }
        }
    }
}

.copyright{
    height: 3vh;
    width: 100%;
    
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_copyright{
        height: 90%;
        width: 50%;
        
        
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size:0.6rem;
            font-family: inter;
            display: block; 
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}