*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
}
.navbar{
    height: 20vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
    #logo{
        height: 80%;
        width: 22%;
        background-color: salmon;
    }
    #nav_2{
        height: 80%;
        width: 60%;
        background-color: rgb(170, 122, 116);
    }
    #SignUp{
        height: 80%;
        width: 18%;
        background-color: salmon;
    }
}
.title_Safety{
    height: 16%;
    width: 100%;
    background-color: rgb(161, 161, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_text{
        height: 90%;
        width: 50%;
        background-color: red;
        display: flex;
            justify-content: center;
            align-items: center;
            color: white;
    }
}
.brochure{
    height: 10%;
    width: 100%;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_brochure{
        height: 90%;
        width: 30%;
        background-color:rebeccapurple;
    }
}

/* MAIN PAGE OF Safety---------------------------------------------------------------------------- */
.main_Safety{
    height: 90vh;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_main_Safety{
        height: 95%;
        width: 90%;
        background-color: brown;
        display: flex;
        justify-content: center;
        align-items: center;
        #left_inner{
            height: 100%;
            width: 50%;
            background-color: pink;
            #left_upper{
                height: 50%;
                width: 90%;
                background-color: cornflowerblue;
            }
            #left_lower{
                height: 50%;
                width: 90%;
                background-color: goldenrod;
            }
        }
        #right_inner{
            height: 100%;
            width: 50%;
            background-color: rgb(77, 131, 113);
            display: flex;
            justify-content: center;
            align-items: center;
            #right_image{
                height: 90%;
                width: 90%;
                background-color: black;
            }
        }
    }

}

/* CONSTRUCTION HEADING---------------------------------------------------------------------------- */
.construction_direction{
    height: 100vh;
    width: 100%;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_construction_direction{
        height: 95%;
        width: 98%;
        background-color: seashell;

        #construction_heading{
            height: 14%;
            width: 100%;
            background-color: rebeccapurple;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_construction_heading{
                height: 90%;
                width: 30%;
                background-color: aliceblue;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        #construction_text_image{
            height: 86%;
            width: 100%;
            background-color: darkgray;
            display: flex;
            justify-content: center;
            align-items: center;
            #left_construction{
                height: 90%;
                width:45%;
                background-color: rgb(196, 100, 100);
            }
            #right_construction{
                height: 90%;
                width: 45%;
                background-color: black;
            }
            
        }
    }
}
/* CONSTRUCTION SUB PARTS---------------------------------------------------------------------------- */
.construction_drain{
    height: 80vh;
    width: 100%;
    background-color: red;
    #inner_construction_drain{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        #drain_heading{
            height: 14%;
            width: 100%;
            background-color: navajowhite;
            display: flex;
            align-items: center;
            #inner_drain_heading{
                height: 90%;
                width: 20%;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                color:white;
            }
        }
        #drain_para{
            height: 40%;
            width: 100%;
            background-color: saddlebrown;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_drain_para{
                height: 90%;
                width: 90%;
                background-color: white;
            }
        }
        #drain_images{
            height: 46%;
            width: 100%;
            background-color: crimson;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #drain_image1{
                height: 90%;
                width: 26%;
                background-color: black;
            }
        }
    }
}

/* CULVERTS CONSTRUCTION---------------------------------------------------------------------------------- */
.construction_Culverts{
    height: 80vh;
    width: 100%;
    background-color: red;
    #inner_construction_Culverts{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        #Culverts_heading{
            height: 14%;
            width: 100%;
            background-color: navajowhite;
            display: flex;
            align-items: center;
            #inner_Culverts_heading{
                height: 90%;
                width: 20%;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                color:white;
            }
        }
        #Culverts_para{
            height: 40%;
            width: 100%;
            background-color: saddlebrown;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Culverts_para{
                height: 90%;
                width: 90%;
                background-color: white;
            }
        }
        #Culverts_images{
            height: 46%;
            width: 100%;
            background-color: crimson;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Culverts_image1{
                height: 90%;
                width: 26%;
                background-color: black;
            }
        }
    }
}
/* FOUNDATION  CONSTRUCTION------------------------------------------------------------------------------- */
.construction_Foundation{
    height: 80vh;
    width: 100%;
    background-color: red;
    #inner_construction_Foundation{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        #Foundation_heading{
            height: 14%;
            width: 100%;
            background-color: navajowhite;
            display: flex;
            align-items: center;
            #inner_Foundation_heading{
                height: 90%;
                width: 20%;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                color:white;
            }
        }
        #Foundation_para{
            height: 40%;
            width: 100%;
            background-color: saddlebrown;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Foundation_para{
                height: 90%;
                width: 90%;
                background-color: white;
            }
        }
        #Foundation_images{
            height: 46%;
            width: 100%;
            background-color: crimson;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Foundation_image1{
                height: 90%;
                width: 26%;
                background-color: black;
            }
        }
    }
}

/* ROAD CONSTRUCTION SERVICES------------------------------------------------------------------------ */
.road_construction_services{
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_road_construction_services{
        height: 95%;
        width: 95%;
        background-color: saddlebrown;
        #heading_road_construction{
            height: 15%;
            width: 100%;
            background-color: rgb(88, 161, 224);
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_heading{
                height: 90%;
                width: 50%;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }
        #main_road_construction{
            height: 85%;
            width: 100%;
            background-color: cornsilk;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #left_road_construction{
                height: 96%;
                width: 60%;
                background-color: violet;
            }
            #right_road_construction{
                height: 96%;
                width: 30%;
                background-color: aquamarine;
                
                #images_road_construction{
                    
                    height: 32%;
                    width: 85%;
                    background-color: black;
                    margin-top: 1vh;
                    border-radius: 10px;
                }
            }
        }
    }
}


/* ROAD SAFETY TYPES CONTENTS---------------------------------------------------------------------- */
.road_safety_types{
    height: 50vh;
    width: 100%;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_road_safety_types{
        height: 100%;
        width: 90%;
        background-color: brown;
        #nav_road_safety{
            height: 20%;
            width: 100%;
            background-color: #7692aa;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_nav_road_safety{
                height: 90%;
                width: 30%;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }
        #text_road_safety{
            height: 80%;
            width: 100%;
            background-color: crimson;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_text_road_safety{
                height: 90%;
                width: 98%;
                background-color: aliceblue;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}


















/* HIGHWAY LIGHTING SOLUTIONS---------------------------------------------------------------------------- */
.construction_Highway{
    height: 80vh;
    width: 100%;
    background-color: red;
    #inner_construction_Highway{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        #Highway_heading{
            height: 14%;
            width: 100%;
            background-color: navajowhite;
            display: flex;
            align-items: center;
            #inner_Highway_heading{
                height: 90%;
                width: 40%;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                color:white;
            }
        }
        #Highway_para{
            height: 40%;
            width: 100%;
            background-color: saddlebrown;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Highway_para{
                height: 90%;
                width: 90%;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
        }
        #Highway_images{
            height: 46%;
            width: 100%;
            background-color: crimson;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Highway_image1{
                height: 90%;
                width: 26%;
                background-color: black;
                border-radius: 10px;
            }
        }
    }
}

/* TOLLPLAZA SOLUTION------------------------------------------------------------------------------------ */
.construction_Tollplaza{
    height: 80vh;
    width: 100%;
    background-color: red;
    #inner_construction_Tollplaza{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        #Tollplaza_heading{
            height: 14%;
            width: 100%;
            background-color: navajowhite;
            display: flex;
            align-items: center;
            #inner_Tollplaza_heading{
                height: 90%;
                width: 40%;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                color:white;
            }
        }
        #Tollplaza_para{
            height: 40%;
            width: 100%;
            background-color: saddlebrown;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Tollplaza_para{
                height: 90%;
                width: 90%;
                background-color: white;
            }
        }
        #Tollplaza_images{
            height: 46%;
            width: 100%;
            background-color: crimson;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Tollplaza_image1{
                height: 90%;
                width: 26%;
                background-color: black;
                border-radius: 10px;
            }
        }
    }
}
/* CANOPY SOLUTIONS------------------------------------------------------------------------------------ */
.construction_Canopy{
    height: 80vh;
    width: 100%;
    background-color: red;
    #inner_construction_Canopy{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        #Canopy_heading{
            height: 14%;
            width: 100%;
            background-color: navajowhite;
            display: flex;
            align-items: center;
            #inner_Canopy_heading{
                height: 90%;
                width: 40%;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                color:white;
            }
        }
        #Canopy_para{
            height: 40%;
            width: 100%;
            background-color: saddlebrown;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Canopy_para{
                height: 90%;
                width: 90%;
                background-color: white;
            }
        }
        #Canopy_images{
            height: 46%;
            width: 100%;
            background-color: crimson;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Canopy_image1{
                height: 90%;
                width: 26%;
                background-color: black;
            }
        }
    }
}
/* MBCB SOLUTIONS----------------------------------------------------------------------------------------- */
.construction_MBCB{
    height: 80vh;
    width: 100%;
    background-color: red;
    #inner_construction_MBCB{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        #MBCB_heading{
            height: 14%;
            width: 100%;
            background-color: navajowhite;
            display: flex;
            align-items: center;
            #inner_MBCB_heading{
                height: 90%;
                width: 40%;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                color:white;
            }
        }
        #MBCB_para{
            height: 40%;
            width: 100%;
            background-color: saddlebrown;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_MBCB_para{
                height: 90%;
                width: 90%;
                background-color: white;
            }
        }
        #MBCB_images{
            height: 46%;
            width: 100%;
            background-color: crimson;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #MBCB_image1{
                height: 90%;
                width: 26%;
                background-color: black;
            }
        }
    }
}
/* Signages Solutions------------------------------------------------------------------------------------ */
.construction_Signages{
    height: 80vh;
    width: 100%;
    background-color: red;
    #inner_construction_Signages{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        #Signages_heading{
            height: 14%;
            width: 100%;
            background-color: navajowhite;
            display: flex;
            align-items: center;
            #inner_Signages_heading{
                height: 90%;
                width: 40%;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                color:white;
            }
        }
        #Signages_para{
            height: 40%;
            width: 100%;
            background-color: saddlebrown;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Signages_para{
                height: 90%;
                width: 90%;
                background-color: white;
            }
        }
        #Signages_images{
            height: 46%;
            width: 100%;
            background-color: crimson;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Signages_image1{
                height: 90%;
                width: 26%;
                background-color: black;
            }
        }
    }
}

/* THERMOPLASTIC SOLUTIONS-------------------------------------------------------------------------- */
.construction_Thermoplastic{
    height: 80vh;
    width: 100%;
    background-color: red;
    #inner_construction_Thermoplastic{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        #Thermoplastic_heading{
            height: 14%;
            width: 100%;
            background-color: navajowhite;
            display: flex;
            align-items: center;
            #inner_Thermoplastic_heading{
                height: 90%;
                width: 40%;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                color:white;
            }
        }
        #Thermoplastic_para{
            height: 40%;
            width: 100%;
            background-color: saddlebrown;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Thermoplastic_para{
                height: 90%;
                width: 90%;
                background-color: white;
            }
        }
        #Thermoplastic_images{
            height: 46%;
            width: 100%;
            background-color: crimson;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Thermoplastic_image1{
                height: 90%;
                width: 26%;
                background-color: black;
            }
        }
    }
}
/* ROAD_STUDS------------------------------------------------------------------------------------------------- */
.construction_Road_Studs{
    height: 80vh;
    width: 100%;
    background-color: red;
    #inner_construction_Road_Studs{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        #Road_Studs_heading{
            height: 14%;
            width: 100%;
            background-color: navajowhite;
            display: flex;
            align-items: center;
            #inner_Road_Studs_heading{
                height: 90%;
                width: 40%;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                color:white;
            }
        }
        #Road_Studs_para{
            height: 40%;
            width: 100%;
            background-color: saddlebrown;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Road_Studs_para{
                height: 90%;
                width: 90%;
                background-color: white;
            }
        }
        #Road_Studs_images{
            height: 46%;
            width: 100%;
            background-color: crimson;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Road_Studs_image1{
                height: 90%;
                width: 26%;
                background-color: black;
            }
        }
    }
}
/* PEDESTRIANS SOLUTIONS----------------------------------------------------------------------------------- */
.construction_Pedestrian{
    height: 80vh;
    width: 100%;
    background-color: red;
    #inner_construction_Pedestrian{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        #Pedestrian_heading{
            height: 14%;
            width: 100%;
            background-color: navajowhite;
            display: flex;
            align-items: center;
            #inner_Pedestrian_heading{
                height: 90%;
                width: 40%;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                color:white;
            }
        }
        #Pedestrian_para{
            height: 40%;
            width: 100%;
            background-color: saddlebrown;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Pedestrian_para{
                height: 90%;
                width: 90%;
                background-color: white;
            }
        }
        #Pedestrian_images{
            height: 46%;
            width: 100%;
            background-color: crimson;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Pedestrian_image1{
                height: 90%;
                width: 26%;
                background-color: black;
            }
        }
    }
}
/* GALVANISED SOLUTIONS------------------------------------------------------------------------------- */
.construction_Galvanised{
    height: 80vh;
    width: 100%;
    background-color: red;
    #inner_construction_Galvanised{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        #Galvanised_heading{
            height: 14%;
            width: 100%;
            background-color: navajowhite;
            display: flex;
            align-items: center;
            #inner_Galvanised_heading{
                height: 90%;
                width: 40%;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                color:white;
            }
        }
        #Galvanised_para{
            height: 40%;
            width: 100%;
            background-color: saddlebrown;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Galvanised_para{
                height: 90%;
                width: 90%;
                background-color: white;
            }
        }
        #Galvanised_images{
            height: 46%;
            width: 100%;
            background-color: crimson;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Galvanised_image1{
                height: 90%;
                width: 26%;
                background-color: black;
            }
        }
    }
}
/* ANTIGLARE SOLUTIONS--------------------------------------------------------------------------------- */
.construction_Antiglare{
    height: 80vh;
    width: 100%;
    background-color: red;
    #inner_construction_Antiglare{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        #Antiglare_heading{
            height: 14%;
            width: 100%;
            background-color: navajowhite;
            display: flex;
            align-items: center;
            #inner_Antiglare_heading{
                height: 90%;
                width: 40%;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                color:white;
            }
        }
        #Antiglare_para{
            height: 40%;
            width: 100%;
            background-color: saddlebrown;
            display: flex;
            justify-content: center;
            align-items: center;
            #inner_Antiglare_para{
                height: 90%;
                width: 90%;
                background-color: white;
            }
        }
        #Antiglare_images{
            height: 46%;
            width: 100%;
            background-color: crimson;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #Antiglare_image1{
                height: 90%;
                width: 26%;
                background-color: black;
            }
        }
    }
}

/* OUR HAPPY CLIENTS--------------------------------------------------------------------------------- */
@keyframes moves {
    from{
        transform:translateX(25%);
    }
    to{
        transform: translateX(calc(-165vw));
    }
    
}
.clients{
    height: 80vh;
    width: 100%;
    /* background-color: saddlebrown; */
    overflow: hidden;
    #clients_title{
        height: 15%;
        width: 100%;
        background-color: rgb(72, 82, 92);
        display: flex;
        justify-content: center;
        align-items: center;
        #clients_title_text{
            height: 90%;
            width: 40%;
            background-color: rgb(58, 55, 55);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .clients_slider{
        height: 90%;
        width: 100%;
        background-color: rgb(161, 138, 138);
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        
        
        /* ?padding: 2vh; */
        #slider_container{
            
            height: 80%;
            width: 100%;
            background-color: salmon;
            display: inline-block;
            align-content: center;
            white-space: nowrap;
            #slides{
                animation: moves 10s linear infinite;
                height: 80%;
                width: 30%;
                background-color: black;
                border-radius: 10px;
                display: inline-block;
                overflow-x: hidden;
                color: white;
                position: relative;
            }
            
        }
        


        
    }

    
}


/* Footer---------------------------------------------------------------------------------------------------- */
.home_footer{
    height: 90vh;
    width: 100%;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    #inner_footer{
        height: 80%;
        width: 90%;
        background-color: beige;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }
    
    .five_inner{
        height: 90%;
        width: 19%;
        background-color: black;
    }
    #five_logo{
        width:25%;
        background-color: red;
    }
    #five_services{
        width: 19%;
        background-color: rgb(122, 106, 106);
    }
    #five_companies{
        width: 19%;
        background-color: rgb(18, 79, 87);
    }
    #five_Contact{
        width: 19%;
        background-color: rgb(185, 221, 255);
    }
    #five_address{
        width: 19%;
        background-color: rgb(141, 107, 107);
    }
}